$color-red-90: #B71C1C;
$color-red-80: #C62828;
$color-red-70: #D32F2F;
$color-red-60: #E53935;
$color-red-20: #FFCDD2;

$color-blue-90: #1d4992;
$color-blue-80: #1565C0;
$color-blue-70: #1976D2;
$color-blue-60: #1E88E5;

$color-green-90: #1B5E20;
$color-green-80: #2E7D32;
$color-green-70: #388E3C;
$color-green-60: #43A047;

// black font color
$color-yellow-90: #F57F17;
$color-yellow-80: #F9A825;
$color-yellow-70: #FBC02D;
$color-yellow-60: #FDD835;
$color-yellow-10: #FFE0B2;

$color-orange-90: #BF360C;
$color-orange-80: #D84315;
$color-orange-70: #E64A19;
$color-orange-60: #F4511E;

$color-white-90: #FAFAFA;
$color-white-80: #F5F5F5;
$color-white-70: #EEEEEE;
$color-white-60: #E0E0E0;

$color-black-90: #212121;
$color-black-80: #424242;
$color-black-70: #616161;
$color-black-60: #757575;

$color-black-100: #000000;
$color-white-100: #ffffff;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

$base-0: 0;
$base-1px: 1px;
$base-2px: 2px;
$base-4px: 4px;
$base-6px: 6px;
$base-8px: 8px;
$base-10px: 10px;

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin visit-hover-active($fontColor) {
  &:visited {
    color: $fontColor;
  }
  &:hover {
    color: $fontColor;
  }
  &:active {
    color: $fontColor;
  }
}

@mixin font-background($fontColor, $backgroundColor) {
  &:visited {
    background-color: $backgroundColor;
    color: $fontColor;
  }
  &:hover {
    background-color: $backgroundColor;
    color: $fontColor;
  }
  &:active {
    background-color: $backgroundColor;
    color: $fontColor;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 4px rgba(232, 76, 61, 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

*:focus, *:active, *:after {
  outline: none;
}

.primary {
  background-color: $color-blue-90;
  color: $color-white-100;
}

.succes {
  background-color: $color-green-90;
  color: $color-white-100;
}

.warning {
  background-color: $color-yellow-90;
  color: $color-black-100;
}

.error {
  background-color: $color-red-90;
  color: $color-white-100;
}

.loader {
  border: 8px solid $color-white-100;
  border-top: 8px solid $color-black-90;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.8s linear infinite;
}

body, html {
  margin: $base-0;
  padding: $base-0;
  height: 100vh;
}

body {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  background: $color-white-100;
  background: linear-gradient(324deg, $color-blue-90 4%,   transparent 4%) -70px 43px,
  linear-gradient(36deg, $color-blue-90 4%, transparent 4%) 30px 43px,
  linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
  linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
  linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
  linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,
  linear-gradient(324deg, $color-blue-90 4%,   transparent 4%) -20px 93px,
  linear-gradient(36deg, $color-blue-90 4%, transparent 4%) 80px 93px,
  linear-gradient(72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
  linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
  linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
  linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
  background-color: $color-blue-90;
  background-size: 100px 100px;
  color: $color-black-100;
  display: grid;
  grid-gap: $base-1px;
  grid-template-rows: fit-content(80px) auto;
  grid-template-areas: "header" "articles";
}

button {
  color: $color-black-100;
  background-color: $color-white-70;
  border: 0;
  border-radius: $base-4px;
  box-shadow: $box-shadow;
  @include font-background($color-black-100, $color-white-60);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .2);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }
  &:focus:not(:active)::after {
    animation: ripple 2s ease-out;
  }
}

select {
  cursor: pointer;
  text-decoration: none;
}

textarea {
  font-family: $font-family;
  font-size: 12px;
  border: 1px solid $color-black-60;
  outline: none;
  &:invalid {
    box-shadow: none;
    background-color: $color-yellow-10;
  }
  &:focus {
    &:invalid {
      outline: none;
    }
  }
}

input {
  border: 1px solid $color-black-60;
  outline: none;
  &:invalid {
    box-shadow: none;
    background-color: $color-yellow-10;
  }
  &:focus {
    &:invalid {
      outline: none;
    }
  }
}

.button-primary {
  background-color: $color-blue-90;
  color: $color-white-100;
  border-radius: $base-4px;
  @include font-background($color-white-100, $color-blue-80);
}

.button-error {
  background-color: $color-red-90;
  color: $color-white-100;
  border-radius: $base-4px;
  @include font-background($color-white-100, $color-red-80);
}

.button-action {
  font-size: 12px;
  padding: $base-0;
  margin: $base-0;
  background-color: #fff;
  color: #000;
  box-shadow: none;
  border: $base-1px solid rgb(238, 238, 238);
}

.articles {
  grid-area: articles;
  display: grid;
  grid-gap: $base-8px;
  justify-content: center;
  article {
    background-color: $color-white-100;
    width: 500px;
    color: $color-black-90;
    box-shadow: $box-shadow;
    padding: $base-8px $base-8px;
    margin: $base-8px $base-0;
    border-radius: $base-4px;
    display: grid;
    grid-template-areas: "article-img article-header" "article-img article-content" "article-footer article-footer";
    img {
      grid-area: article-img;
      padding: $base-8px 0;
      padding-right: $base-8px;
    }
    header {
      grid-area: article-header;
      width: 440px;
      padding-bottom: $base-4px;
      font-style: italic;
      font-size: large;
      a {
        color: $color-black-100;
        text-decoration: none;
      }
    }
    .article-content {
      grid-area: article-content;
      margin-bottom: $base-8px;
      padding-bottom: $base-4px;
      padding-top: $base-8px;
    }
    footer {
      grid-area: article-footer;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: $base-8px;
      border-top: 1px solid $color-white-70;
      font-size: 14px;
      font-style: normal;
    }
    footer > * {
      padding: $base-0;
    }
  }
  .article-add {
    min-height: 400px;
    header {
      display: inline-flex;
      .button-pulse {
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 50%;
        margin-right: $base-4px;
        box-shadow: 0 0 0 0 $color-blue-90;
        background-color: $color-blue-90;
        background-size: cover;
        background-repeat: no-repeat;
        animation: pulse 1250ms infinite cubic-bezier(0.66, 0, 0, 1);
        &:hover {
          animation: none;
        }
      }
    }
  }
  .article-edit {
    display: grid;
    min-height: 400px;
    header {
      display: inline-flex;
    }
  }
  .article-delete {
    background-color: $color-red-60;
    color: $color-white-100;
    min-height: 142px;
    .article-content {
      .form-group {
        i {
          display: flex;
          flex-wrap: wrap;
          label {
            font-size: large;
            align-self: center;
            margin-left: $base-8px;
          }
        }
      }
    }
  }
  .article-detail {
    width: fit-content;
    display: grid;
    grid-template-areas: "article-img article-header" "article-img article-content" "article-footer article-footer" "article-comments article-comments" "comment-delete comment-delete" "comment-add comment-add";
    .section-comments {
      margin-top: 8px;
      padding-top: 32px;
      border-top: 1px solid $color-white-70;
      grid-area: article-comments;
      header {
        padding-top: $base-4px;
      }
      article {
        box-shadow: none;
        footer {
          display: inline-grid;
          grid-template-columns: minmax(140px, auto) auto;
        }
      }
      .comment-delete {
        display: grid;
        grid-area: comment-delete;
        grid-template-areas: "comment-header comment-header" "comment-content comment-content" "comment-footer comment-footer";
        background-color: $color-red-60;
        color: $color-white-100;
        header {
          grid-area: comment-header;
        }
        .comment-content {
          grid-area: comment-content;
          .form-group {
            i {
              display: flex;
              flex-wrap: wrap;
              label {
                font-size: 16px;
                align-self: center;
                margin-left: $base-8px;
              }
            }
          }
        }
        footer {
          grid-area: comment-footer;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          border-top: 1px solid $color-white-70;
          border-bottom: none;
          nav > * {
            padding: $base-4px;
            margin-left: $base-8px;
            min-width: 100px;
          }
        }
      }
      .comment-add {
        display: grid;
        grid-area: comment-add;
        grid-template-areas: "comment-header comment-header" "comment-content comment-content" "comment-footer comment-footer";
        header {
          grid-area: comment-header;
        }
        .comment-content {
          grid-area: comment-content;
          display: grid;
          grid-template-columns: auto auto;
          .form-group {
            display: grid;
            label {
              font-size: 16px;
              font-style: normal;
              display: flex;
              flex-wrap: wrap;
              i {
                align-self: center;
                margin-left: $base-8px;
              }
            }
          }
          .form-group:first-child {
            grid-column-start: span 2;
          }
          .form-group:last-child {
            padding-left: $base-8px;
            align-self: end;
            justify-self: end;
            nav > * {
              padding: $base-4px;
              margin-left: $base-8px;
              min-width: 100px;
            }
          }
        }
      }
    }
  }
  .article-add, .article-delete, .article-edit {
    display: block;
    height: 20px;
    overflow: hidden;
    grid-template-areas: "article-header article-header" "article-content article-content" "article-footer article-footer";
    label {
      font-size: 16px;
      padding: $base-4px 0;
      margin: $base-4px 0;
    }
    footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      border-top: 1px solid $color-white-70;
    }
    footer > * {
      padding: $base-4px;
      margin-left: $base-8px;
      min-width: 100px;
    }
    textarea {
      font-size: 13px;
      height: 80px;
    }
    select {
      height: 26px;
    }
    input {
      height: 20px;
    }
    .form-group {
      display: flex;
      flex-direction: column;
    }
  }
}

$icon-plus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewBox='0 0 12 16'%3E %3Cpath fill='%23fff' d='M12 9H7v5H5V9H0V7h5V2h2v5h5v2z'/%3E %3C/svg%3E");

.icon-16-green-90 {
  display: inline-block;
  svg {
    width: 16px;
    height: 16px;
    fill: $color-green-90;
    path {
      fill: $color-green-90;
    }
  }
}

.icon-12-blue-90 {
  display: inline-block;
  svg {
    width: 12px;
    height: 12px;
    fill: $color-blue-90;
    path {
      fill: $color-blue-90;
    }
  }
}

.icon-16-orange-60 {
  display: inline-block;
  svg {
    width: 16px;
    height: 16px;
    fill: $color-orange-60;
    path {
      fill: $color-orange-60;
    }
  }
}

.icon-24-red-90 {
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
    fill: $color-red-90;
    path {
      fill: $color-red-90;
    }
  }
}

.icon-24-black-100 {
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
    fill: $color-black-100;
    path {
      fill: $color-black-100;
    }
  }
}

.icon-32-black-100 {
  display: inline-block;
  svg {
    width: 32px;
    height: 32px;
    fill: $color-black-100;
    path {
      fill: $color-black-100;
    }
  }
}

.icon-24-white-100 {
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
    fill: $color-white-100;
    path {
      fill: $color-white-100;
    }
  }
}

.icon-48-white-100 {
  display: inline-block;
  svg {
    width: 64px;
    height: 64px;
    fill: $color-white-100;
    path {
      fill: $color-white-100;
    }
  }
}

.icon-24-blue-90 {
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
    fill: $color-blue-90;
    path {
      fill: $color-blue-90;
    }
  }
}

.icon-24-green-90 {
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
    fill: $color-green-90;
    path {
      fill: $color-green-90;
    }
  }
}

.add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
  a {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $color-orange-90 $icon-plus no-repeat center;
    background-size: 28px;
    box-shadow: $box-shadow;
    font-size: 0;
    cursor: pointer;
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black-90;
  color: $color-white-100;
  opacity: 0.96;
  box-shadow: $base-0 6px 24px 0 rgba(0, 0, 0, 0.90);
  margin-bottom: 24px;
  header {
    font-size: 24px;
    font-style: italic;
    a {
      color: $color-white-100;
      text-decoration: none;
    }
  }
  nav {
    display: inline-flex;
    flex-flow: wrap;
    .nav-item-activ {
      font-weight: bold;
      font-style: italic;
      border-bottom: 2px solid $color-yellow-60;
    }
    div {
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid #fff;
      }
      padding: $base-0 $base-10px;
      a {
        color: $color-white-100;
        text-decoration: none;
        @include visit-hover-active($color-white-100);
      }
    }
  }
}

@supports (display: grid) {
  .container > * {
    margin: $base-2px;
  }
}
