$color-white-100: #ffffff;
$color-white-80: #ECEFF1;

$color-black-80: #444444;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

$base-0: 0;
$base-2px: 2px;
$base-4px: 4px;
$base-6px: 6px;
$base-8px: 8px;
$base-10px: 10px;

body {
  margin: $base-0;
  padding: $base-0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: $color-white-80;
  color: $color-black-80;
}

h1, p {
  margin: 0 0 1em 0;
}

.container {
  max-width: 100vw;
  display : grid;
  grid-gap: $base-8px;
}

/* no grid support? */
.container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(60px, auto);
}

.card {
  /* needed for the flex layout*/
  background-color: $color-white-100;
  color: $color-black-80;
  margin-left: $base-4px;
  margin-right: $base-4px;
  box-shadow: $box-shadow;
  flex: 1 1 200px;
}

//.tall-panel {
//  box-shadow: $box-shadow;
//  grid-row-end: span 2;
// }

/* display: grid;
grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];

display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

*/

.header, .footer {
  box-shadow: $box-shadow;
  background-color:  $color-white-100;
  flex: 0 1 100%;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
  h2 {
    align-self: center;
    background-color: yellowgreen;
  }
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-self: center;
    .nav-item {
      text-decoration: none;
    }
    .nav-item-aktiv {
      text-decoration: none;
      font-weight: bold;
      font-style: italic;
    }
  }
}

.container > * {
  border-radius: $base-6px;
}

.container {
  .header{
    border-radius: $base-0;
  }
  .footer {
    border-radius: $base-0;
  }
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .container > * {
    margin: $base-0;
  }
}

/* normal web */
@media screen and (max-width: 80em){
}
/* tabled */
@media screen and (max-width: 60em){
}
/* mobile */
@media screen and (max-width: 40em){
}