$color-white-100: #ffffff;
$color-white-80: #ECEFF1;

$color-black-80: #444444;
$color-black-100: #000000;

$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

$base-0: 0;
$base-1px: 1px;
$base-2px: 2px;
$base-4px: 4px;
$base-6px: 6px;
$base-8px: 8px;
$base-10px: 10px;

body, html {
  margin: $base-0;
  padding: $base-0;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: $color-white-100;
  color: $color-black-100;
  display: grid;
  grid-gap: $base-2px;
  grid-template-rows: 80px 30px auto 60px;
  grid-template-areas: "header" "breadcrum" "articles" "footer";
}

body > * {
  padding: $base-8px;
}

.card {
  /* needed for the flex layout*/
  background-color: $color-white-100;
  color: $color-black-80;
  margin-left: $base-4px;
  margin-right: $base-4px;
  box-shadow: $box-shadow;
  flex: 1 1 200px;
}

.breadcrum {
  grid-area: breadcrum;
  display: flex;
  background-color: aquamarine;
  div {
    align-self: center;
    padding-right: $base-4px;
    margin-right: $base-4px;
  }
}

.articles {
  grid-area: articles;
  background-color: antiquewhite;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: cornflowerblue;
  div {
    align-self: center;
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: fit-content(20%) auto;
  background-color: $color-black-80;
  color: $color-white-100;
  h2 {
    align-self: center;
    background-color: yellowgreen;
  }
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    .nav-item-aktiv {
      font-weight: bold;
      font-style: italic;
    }
    a {
      color: $color-white-100;
      text-decoration: none;
      &:visited {
        color: $color-white-100;
      }
      &:hover {
        color: $color-white-100;
      }
      &:active {
        color: $color-white-100;
      }
    }
  }
  nav > * {
    padding-left: $base-4px;
    margin-left: $base-4px;
    align-self: center;
  }
}

@supports (display: grid) {
  .container > * {
    margin: $base-0;
  }
}

/* normal web */
@media screen and (max-width: 80em) {
}

/* tabled */
@media screen and (max-width: 60em) {
}

/* mobile */
@media screen and (max-width: 40em) {

}